// Will define the page into section, mojor section
// E.g header`, main-content, section-a or footer. or perhaps a sidebar

// We also define spesific modular classes that we will append
// to our module in other element
// e.g .pull-right

#header {
    
}

#main {
    
}

#wrapper {
    background-color: $accent-color;
}

#footer {
    padding: 20px;
    color: white;
    text-align: justify;
}


@media(min-width:640px){
    #main, #footer {
        width: 640px;
        margin-left: auto;
        margin-right: auto;
        padding: 30px;
    }


}

@media(min-width:900px){
    #main, #footer {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    #footer {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 100px;
    }
}

.push-right {
    display: block;
    text-align: right;
}