* {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f7f8f4;
  line-height: 1.6;
  font-family: 'Open Sans Condensed', sans-serif;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.dropcap {
  color: #903;
  float: left;
  font-family: Georgia;
  font-size: 2.5em;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

h1 {
  margin: 0;
}

h2 {
  margin: 20px 0 0 0;
  color: #015174;
}

p {
  margin: 0 0 20px 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  font-family: 'Open Sans', sans-serif;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.float-left::after, .float-right::after {
  clear: both;
}

#wrapper {
  background-color: #015174;
}

#footer {
  padding: 20px;
  color: white;
  text-align: justify;
}

@media (min-width: 640px) {
  #main, #footer {
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
  }
}

@media (min-width: 900px) {
  #main, #footer {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  #footer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 100px;
  }
}

.push-right {
  display: block;
  text-align: right;
}

/* Add a black background color to the top navigation */
.nav {
  background-color: #f7f8f4;
  overflow: hidden;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #015174;
  padding: 0;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  /* Style the links inside the navigation bar */
  /* Hide the link that should open and close the topnav on small screens */
}

.nav--item {
  float: left;
  display: block;
  color: #015174;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.15em;
  /* Change the color of links on hover */
}

.nav--item:hover {
  background-color: #015174;
  color: white;
}

.nav--item:not(:first-child) {
  display: none;
}

.nav--icon {
  display: block;
  float: right;
  padding: 14px 16px;
  font-size: 1.15em;
}

.nav--icon:hover {
  background-color: #015174;
  color: white;
}

.nav-responsive {
  position: relative;
}

.nav-responsive .nav--item {
  float: none;
  display: block;
  text-align: left;
}

.nav-responsive .nav--icon {
  position: absolute;
  right: 0;
  top: 0;
}

@media (min-width: 640px) {
  .nav {
    padding: 10px 10px;
    /* Style the links inside the navigation bar */
  }
  .nav--item:not(:first-child) {
    display: block;
  }
  .nav--icon {
    float: right;
    display: none;
  }
}

.shrink {
  min-height: 35px;
}

.shrink--item {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-size: 15px;
}

/* Add an active class to highlight the current page */
.active {
  background-color: #015174;
  color: white;
}

.post {
  padding: 20px;
}

.post--head > * {
  padding: 5px 0;
}

.post--date {
  font-size: 0.85em;
  color: grey;
}

.post--body p {
  text-align: justify;
}
/*# sourceMappingURL=index.css.map */