/* Add a black background color to the top navigation */

.nav {
    background-color: $background-color;
    overflow: hidden;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid $accent-color;
    padding: 0;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;

    /* Style the links inside the navigation bar */
    &--item {
        float: left;
        display: block;
        color: $accent-color;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 1.15em;
        /* Change the color of links on hover */
        &:hover {
            background-color: $accent-color;
            color: white;
        }
        &:not(:first-child) {
            display: none;
        }
    }

    /* Hide the link that should open and close the topnav on small screens */
    &--icon {
        display: block;
        float: right;
        padding: 14px 16px;
        font-size: 1.15em;
        &:hover {
            background-color: $accent-color;
            color: white;
        }
    }
}

.nav-responsive {
    position: relative;
    & .nav--item {
        float: none;
        display: block;
        text-align: left;
    }
    & .nav--icon {
        position: absolute;
        right: 0;
        top: 0;
    }
}


// Screen Larger than 640
@media(min-width: 640px) {
    .nav {
        padding: 10px 10px;

        /* Style the links inside the navigation bar */
        &--item {
            &:not(:first-child) {
                display: block;
            }
        }

        &--icon {
            float: right;
            display: none;
        }
    }
}

// Screen Larger than 900
@media(max-width: 900px) {
    
}


.shrink {
    min-height: 35px;
    &--item {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        font-size: 15px;
    }
}

/* Add an active class to highlight the current page */

.active {
    background-color: $accent-color;
    color: white;
}
